:root {
  --color-primary: #ed9c60;
  --color-secondary: #1f1fbf;
  --color-white: #fff;
  --font-primary: "Merriweather", serif;
  --font-secondary: "Passion One", cursive;
}

html {
  font-family: var(--font-primary);
}
